<div class="contenedor-principal">
  <div class="header">
    <h1 class="titulo-propiedades">Mis Propiedades</h1>
    <button mat-button class="agregar-propiedad-btn" [routerLink]="['/anadir-propiedad']">Agregar Propiedad</button>
  </div>

  <div class="resultados">
    <mat-card *ngFor="let propiedad of propiedades" class="tarjeta">
      <!-- Título y precio -->
      <mat-card-header>
        <mat-card-title>
          <strong>{{ propiedad.nombre || 'Propiedad' }}</strong>
        </mat-card-title>
      </mat-card-header>

      <!-- Contenido principal -->
      <mat-card-content>
        <!-- Detalles principales -->
        <p><strong>Precio:</strong> {{ propiedad.valorNoche }} USD/Noche</p>
        <p><strong>Ubicación:</strong> {{ propiedad.ciudad }}</p>
      
        <!-- Detalles -->
        <p><strong>Área:</strong> {{ propiedad.area }} m²</p>
        <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>

        <!-- Iconos -->
        <div class="iconos">
          <span *ngIf="propiedad.cantidadHabitaciones">
            <i class="fas fa-bed"></i> {{ propiedad.cantidadHabitaciones }} Hab.
          </span>
          <span *ngIf="propiedad.cantidadBanios">
            <i class="fas fa-bath"></i> {{ propiedad.cantidadBanios }} Baños
          </span>
          <span *ngIf="propiedad.tienePiscina">
            <i class="fas fa-swimming-pool"></i> Piscina
          </span>
          <span *ngIf="propiedad.tieneAsador">
            <i class="fas fa-fire"></i> Asador
          </span>
          <span *ngIf="propiedad.aceptaMascotas">
            <i class="fas fa-paw"></i> Mascotas
          </span>
        </div>
      </mat-card-content>

      <!-- Botones de acción -->
      <mat-card-actions class="acciones-tarjeta">
        <button mat-button class="resenas-btn" (click)="resenasPropiedad(propiedad.id ?? 0)">Reseñas</button>
        <div class="acciones-derecha">
          <button mat-button class="editar-btn" (click)="editarPropiedad(propiedad.id ?? 0)">Editar</button>
          <button mat-button class="desactivar-btn" (click)="desactivarPropiedad(propiedad.id ?? 0)">Desactivar</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <div *ngIf="propiedades.length === 0" class="no-resultados">
      No se encontraron propiedades.
    </div>
  </div>
</div>