<div class="resenas-propiedad-container">
  <h1 class="titulo">Reseñas de la propiedad: {{ propiedad?.nombre }}</h1>

  <div class="resenias-container">
    <div *ngFor="let resenia of resenias" class="resenia-card">
      <div class="resenia-header">
        <span class="calificacion"><strong>{{ resenia.calificacion }}/5</strong></span>
        <span class="nombre-usuario">{{ resenia.usuarioCalificadorId.nombre }} {{ resenia.usuarioCalificadorId.apellido }}</span>
      </div>
      <div class="resenia-cuerpo">
        <p>{{ resenia.comentario }}</p>
      </div>
    </div>
    <div *ngIf="resenias.length === 0" class="no-resenias">
      No hay reseñas disponibles para esta propiedad.
    </div>
  </div>
</div>



