

<div class="detalles-alquiler-container">
  <div class="header">
    <h1 class="titulo-detalles">Detalles del Alquiler</h1>
    <button *ngIf="mostrarBotonPagar()"
        mat-button class="agregar-propiedad-btn"
        [routerLink]="['/pagar', alquiler?.id]">
  Pagar
</button>
  </div>

  <div *ngIf="alquiler; else noDetalles">
    <div class="detalle-card">
      <p><strong>Propiedad:</strong> {{ alquiler.propiedad.nombre }}</p>
      <p><strong>Valor Alquiler por noche:</strong> {{ alquiler.propiedad.valorNoche }}</p>
      <p><strong>Ciudad:</strong> {{ alquiler.propiedad.ciudad }}</p>
      <p><strong>Área:</strong> {{ alquiler.propiedad.area }} m²</p>
      <p><strong>Inquilino:</strong> {{ alquiler.usuarioAsignado.nombre }} {{ alquiler.usuarioAsignado.apellido }}</p>
      <p><strong>Fecha Inicio:</strong> {{ alquiler.fechaInicio | date }}</p>
      <p><strong>Fecha Fin:</strong> {{ alquiler.fechaFin | date }}</p>
      <p><strong>Estado:</strong> {{ alquiler.estado }}</p>
      <p><strong>Comentarios:</strong> {{ alquiler.comentarios || 'No hay comentarios adicionales' }}</p>
    </div>
  </div>

  <ng-template #noDetalles>
    <p>{{ mensaje }}</p>
  </ng-template>
</div>

