html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f8fa;
}

.contenedor-principal {
  min-height: 100vh;
}

.alquileres-container {
  flex: 1;
  margin: 20px auto;
  max-width: 1200px;
}

.titulo-alquileres {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
}

.alquileres {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  padding: 20px;
  position: relative;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.tarjeta mat-card-header {
  background-color: #2D572C;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tarjeta mat-card-content {
  padding: 16px;
}

.detalles-alquiler p {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: #555;
  font-size: 1rem;
  gap: 10px;
}

.detalles-alquiler i {
  font-size: 1.2rem;
  color: #46c942;
}

/* Estado destacado */
/* Estado destacado */
.estado-alquiler {
  position: absolute;
  bottom: 10px;
  left: 20px; /* Parte inferior izquierda */
  background-color: #ddd;
  color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.estado-alquiler.aprobado {
  background-color: #46c942; /* Verde para aprobado */
}

.estado-alquiler.finalizado {
  background-color: #2196F3; /* Azul para finalizado */
}

.estado-alquiler.pendiente {
  background-color: #FFA500; /* Naranja para pendientes */
}

.estado-alquiler.cancelado {
  background-color: #F44336; /* Rojo para cancelados */
}


/* Acciones */
.acciones-tarjeta {
  display: flex;
  justify-content: space-between; /* Estado a la izquierda, botón a la derecha */
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.editar-btn {
  margin-left: auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editar-btn:hover {
  background-color: #45a049;
}

.no-alquileres {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 20px;
}

